   <style>
     p {color:grey;
   text-align:justify; 
   line-height:normal;
   font-family: Verdana;
   font-size: 18px;
   font-weight:normal;
   background-color: azure;
   margin:auto;
   padding:inherit;
   float:none;
   }
  </style>
